.post-content {
  background-color: black;
  color: whitesmoke;
  padding: 10px 0 0 8px;
  margin-top: 20px;
}

.timeline {
  grid-column: 2 / 3;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
